.App {
    text-align: center;
    height: 100vh;
    font-family: Nunito;
    display: flex;
    flex-direction: column;
  }
    
  .welcome {
    display: flex;
    flex-direction: column;
    padding-top: 30vh;
    align-items: center;
  }
  
  button {
    width: 10%;
    color: white;
    margin-top: 2%;
  }
  
  /* .form{
    margin-left: 35%;
    margin-top: 15%;
  } */

  .formContainer{
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: 10%;
  }

